<!--
    <app-diretira-ngif></app-diretira-ngif>

    <app-diretiva-ng-switch></app-diretiva-ng-switch>

    <app-diretiva-ngfor></app-diretiva-ngfor>

    <app-diretiva-ngclass></app-diretiva-ngclass>


    <app-diretiva-style></app-diretiva-style>


    <app-operador-elvis></app-operador-elvis>

    <app-diretiva-ngcontent>
        <div class="titulo">
            Titulo do Painel
        </div>
        <div class="corpo">
            Conteúdo passado para componentes
        </div>
        <div class="corpo">
            Outro conteudo (esse é concatenado com outros conteudos que estiverem na classe corpo)
        </div>
     
    </app-diretiva-ngcontent>
-->

<app-diretivas-customizadas></app-diretivas-customizadas>
